<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">


	<display-name>SGC WEB TEST</display-name>
	<distributable/>

	<!-- INI: Spring child -->
	<servlet>
		<servlet-name>dispatcher-context</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher-context</servlet-name>
		<url-pattern>/sgc_web_test/*</url-pattern>
	</servlet-mapping>

    <!-- T01: Tiempo de inactividad en 20 minutos -->
    <session-config>
        <session-timeout>20</session-timeout>
        <cookie-config>
	        <name>JSESSIONID_SGC_WEB</name>
	    </cookie-config>
    </session-config>
	
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/dispatcher-context-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- INI: Spring Security -->

	<!-- FIN: Spring Security -->
		
</web-app>
